body {
  font-family: "Akaya Telivigala", cursive;
}

.add {
  background-color: lightgray;
}

.shape {
  background-color: lightgray;
  border-radius: 0px 0px 20px 20px;
}

.done {
  opacity: 0.4;
}

/* Settings */
.btnAr {
  order: -1;
}
.arText {
  text-align: right;
}
